<!DOCTYPE html>
<%- include("head.ejs") %>
<html>
  <body>
    <%- include("nav.ejs") %>
    <h1>My About page </h1>
    <p>What can we help with this morning</p>
    <%- include("footer.ejs") %>
  </body>
</html>
