<nav>
  <ul>
    <li>
      <a tabindex="1" href="/">Home </a>
    </li>
    <li>
      <a tabindex="2" href="/about">About </a>
    </li>
    <li>
      <a tabindex="3" href="/blog">Blog </a>
    </li>
    
  </ul>
</nav>
